In [88]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [89]:
data =pd.read_csv(r"C:\Users\vinay\Jupyter Notebook\KrishNaik\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [90]:
data = data.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [91]:
## Encoding Categorical Variable
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
Geo = data[["Geography"]]

In [92]:
##OneHot Encoder Geography Column 
from sklearn.preprocessing import  OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[["Geography"]]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [93]:

Geo_transformed = pd.DataFrame(geo_encoder, columns = onehot_encoder_geo.get_feature_names_out(['Geography']) )
Geo_transformed

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [94]:

new_data = pd.concat([data,Geo_transformed], axis =1)
new_data = new_data.drop(["Geography"], axis=1)
new_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [95]:
import pickle

## Save the Encoders and scaler

with open('le.pkl', 'wb') as file:
    pickle.dump(le, file)
    
with open('onehot_encoder_geo.pkl' , 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [96]:
# Finding out the dependent and Independent Features

X = new_data.drop('Exited', axis = 1)
y = new_data['Exited']

## Split the data in traing and testing set
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state = 42)

In [97]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [98]:
X_test = scaler.transform(X_test)

In [99]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [100]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

## Ann Implementation

In [101]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [102]:
## Building our ANN Model

model = Sequential([
    Dense(64, activation='relu', input_shape = (X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation = 'sigmoid')
    ]
    )

In [103]:
print(model)

<keras.src.engine.sequential.Sequential object at 0x0000021161130B90>

In [104]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [105]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [106]:
## compile the model

model.compile(optimizer=opt, loss = "binary_crossentropy", metrics=['accuracy'])

In [107]:
model

In [108]:
##setup the tensor board
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit" + datetime.datetime.now().strftime("%y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [109]:
early_stopping_callback = EarlyStopping(monitor ='val_loss' , patience = 10, restore_best_weights=True)

In [110]:
### Train the model

HISTORY =  model.fit(
    X_train,y_train, validation_data=(X_test, y_test), epochs =100,
    callbacks=[tensorflow_callback,early_stopping_callback ]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3991 - accuracy: 0.8361 - val_loss: 0.3437 - val_accuracy: 0.8625
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3554 - accuracy: 0.8503 - val_loss: 0.3504 - val_accuracy: 0.8620
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3478 - accuracy: 0.8561 - val_loss: 0.3601 - val_accuracy: 0.8525
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3463 - accuracy: 0.8579 - val_loss: 0.3438 - val_accuracy: 0.8555
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8593 - val_loss: 0.3404 - val_accuracy: 0.8615
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8636 - val_loss: 0.3596 - val_accuracy: 0.8505
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8611 - val_loss: 0.3441 - val_accuracy: 0.8595
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8646 - val_loss: 0.3617 - val_accuracy: 0.8525
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8645 - val_loss: 0.3434 - val_accuracy: 0.8580
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8654 - val_loss: 0.3434 - val_accuracy: 0.8555
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3298 - accuracy: 0.8655 - val_loss: 0.3410 - val_accuracy: 0.8560
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8710 - val_loss: 0.3448 - val_accuracy: 0.8595
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3195 - accuracy: 0.8675 - val_loss: 0.3527 - val_accuracy: 0.8545
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3167 - accuracy: 0.8683 - val_loss: 0.3571 - val_accuracy: 0.8535
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3181 - accuracy: 0.8669 - val_loss: 0.3484 - val_accuracy: 0.8595

In [111]:
model.save('model.h5')

C:\ProgramData\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [112]:
## load Tensorboard Extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [113]:
%tensorboard --logdir logs/fit240723-173015

Reusing TensorBoard on port 6007 (pid 11408), started 3:08:49 ago. (Use '!kill 11408' to kill it.)

In [114]:
### load Pickle File